body{
	margin: 0;
	font-family: arial;
	background-color: #eeeeee;
}

header{
	background-color: #03d3fc;
	background-size: 300px;
	width: 100%;
	height: 50px;
	color: black;
	border-bottom: 2px solid orange;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1{
	color: #008cff;/*03d3fc*/
	width: 100px;
}

h1 a{
    color: #000;
	text-decoration: none;
}

.login{
	width:350px;
	height: 600px;
	background: white;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.login input{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 16px;
}

.login input[type="submit"]
{
	border: none;
	border-radius: 5px;
	outline: none;
	height: 40px;
	background: #03d3fc;
	color: #000;
	font-size: 18px;
}

.login input[type="submit"]:hover
{
	cursor: pointer;
	background: orange;
	color: #000;
}

.login a{
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
}

.login a:hover
{
	text-decoration: underline;
}