.search-box{
    margin-top: -27px;
    margin-left: 250px;
    display: flex;
    font-size: 16px;
}

.search-box-input{
    font-size: inherit;
    border: 0.1em solid #ddd;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.4em 0.5em;
    width: 650px;
}

.search-box-button{
    font-size: inherit;
    border: 0.1em solid #ddd;
    border-radius: 0 0.5em 0.5em 0;
    background-color: white;
    border-left: 0;
    padding: 0 0.75em;
    color: white;
}

.features figure{
    text-align: center;
}

.features figure a img {
    width: 400px;
    border-left: 0px;
}